.add-task-context-menu{
    display: none;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    padding: 24px;
    min-width: 400px;
    max-width: 90vw;
    z-index: 1000;
    animation: fadeIn 0.2s ease;

    outline: solid 1px rgb(217, 217, 217);
}

.add-task-context-menu.active{
    display: block;
}

.overlay{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 500;
}

.overlay.active{
    display: block;
}

.add-task-form{
    
}

.close-context-menu-button{
    position: absolute;
    width: 30px;
    height: 30px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    top: 1%;
    right: 1%;

    img{
        width: 100%;
        height: 100%;
        position: absolute;
    }

    .img-black{
        opacity: 1;
    }

    .img-white{
        opacity: 0;
    }
}

.close-context-menu-button:hover{
    outline: solid 1px rgb(117, 117, 117);
    border-radius: 8px;
}

.first-form-block{
    margin-top: 0;  
    font-size: 18px;

    input[type="text"] {
        margin-top: 8px;

        border: solid 1px rgb(217, 217, 217);
        border-radius: 8px;

        padding: 12px 16px;
        font-size: 18px;
    }
}


#deadline-container.disabled{
    label{
        opacity: 0.5;
    }
}


.form-block{
    margin-top: 24px;
    font-size: 18px;

    textarea {
        margin-top: 8px;

        border: solid 1px rgb(217, 217, 217);
        border-radius: 8px;

        padding: 12px 16px;
        font-size: 18px;
        font-family: sans-serif;
    }

    input[type="checkbox"]{
        position: absolute;
        width: 16px;
        height: 16px;
        margin: 0 0 0 1px;

        opacity: 0;
        cursor: pointer;
    }

    input[type="datetime-local"]{
        margin-top: 8px;

        border: solid 1px rgb(217, 217, 217);
        border-radius: 8px;

        padding: 12px 16px;
        font-size: 18px;
    }

    .custom-checkbox{
        display: flex;
        align-items: center;

        .custom-checkbox-graphics{
            display: inline-block;
            margin-right: 12px;
            border: solid 1px rgb(44, 44, 44);

            width: 16px;
            height: 16px;

            border-radius: 4px;
            position: relative;
            pointer-events: none;

            img{
                opacity: 0;
            }
        }

        input:checked + .custom-checkbox-graphics{
            background-color: rgb(44, 44, 44);

            img{
                opacity: 1;
                width: 100%;
                height: 100%;
            }
        }
    }

    .checkbox-description{
        margin-left: 28px;
        color: rgb(117, 117, 117);
    }
}

.button-group{
    margin-top: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button{
        font-size: 18px;
        width: fit-content;
        min-width: 168px;
        height: 48px;

        border-radius: 8px;
        border: none;
        transition: transform 0.05s ease, box-shadow 0.1s ease;
    }

    button:hover{
        border: solid 2px rgb(117, 117, 117);
        cursor: pointer;
    }

    button:active{
        transform: scale(0.95);
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }

    button[type="submit"]{
        background-color: rgb(44, 44, 44);
        color: white;
    }

    button[type="reset"]{
        background-color: white;
        color: black;
    }
}

.close-context-menu-button{
    position: absolute;

}