body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    
    font-family: sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;
}

main {
    width: 100%;
    height: 95%;
    margin: 0;
    background-color: rgb(44, 44, 44);


    #viewport{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    #canvas{
        position: absolute;
        width: 5000px;
        height: 5000px;
    }

    .connections-layer {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;

        .temp-line {
            stroke: #007bff;
            stroke-width: 2;
            stroke-dasharray: 5,5;
        }

        .link-line {
            stroke: white;
            stroke-width: 2;
        }
    }


    .add-task-button{
        position: fixed;
        
        right: calc(40 / 1920 * 100vw);
        bottom: calc(40 / 1920 * 100vw);
        z-index: 250;

        width: 14vh;
        height: 14vh;

        border: 0;
        border-radius: 50%;

        background-color: rgb(65, 65, 65);

        transition: border 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease;

        .add-task-image{
            width: 7vh;
            height: 7vh;

            user-select: none;
        }
    }

    .add-task-button:hover{
        cursor: pointer;
        border: solid 1px rgb(44, 44, 44);
    }

    .add-task-button:active{
        transform: scale(0.95);
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }
}

nav{
    width: 100%;
    height: 5%;
    margin: 0;
    background-color: rgb(56, 56, 56);
    border-bottom: 3px solid #4B4B4B;
    z-index: 10;
}