body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    
    font-family: sans-serif;
}

main {
    width: 100%;
    height: 95%;
    margin: 0;
    background-color: rgb(44, 44, 44);


    #viewport{
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }

    #canvas{
        position: absolute;
        width: 5000px;
        height: 5000px;

        .task{
            font-family: sans-serif;
            
            width: 250px;
            height: 250px;

            background-color: rgb(255, 235, 122);
            box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.5);
            padding: 0 12px;

            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;

            p{
                margin: 0;
            }

            .task-block{
                width: 100%;
                margin-top: 8px;
            }

            .title{
                display: flex;
                align-items: center;
                justify-content: center;

                font-size: 18px;
            }

            .description{
                height: 45%;
            }

            .create-time{
                font-size: 14px;
            }

            .assigned-person{
                font-size: 14px;
            }

            .dead-line{
                font-size: 14px;
            }
        }

        .task:hover{
            outline: solid 2px rgb(47, 168, 255);
        }
    }


    .add-task-button{
        position: fixed;
        
        right: calc(40 / 1920 * 100vw);
        bottom: calc(40 / 1920 * 100vw);
        z-index: 1000;

        width: 14vh;
        height: 14vh;

        border: 0;
        border-radius: 50%;

        background-color: rgb(65, 65, 65);

        transition: border 0.1s ease, transform 0.1s ease, box-shadow 0.1s ease;

        .add-task-image{
            width: 7vh;
            height: 7vh;

            user-select: none;
        }
    }

    .add-task-button:hover{
        cursor: pointer;
        border: solid 1px rgb(44, 44, 44);
    }

    .add-task-button:active{
        transform: scale(0.95);
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }
}

nav{
    width: 100%;
    height: 5%;
    margin: 0;
    background-color: rgb(56, 56, 56);
}