body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    
    font-family: sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container{
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15);
    padding: 24px;
    min-width: 200px;
    max-width: 90vw;

    outline: solid 1px rgb(217, 217, 217);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.registration-form-container{
    display: none;
}

.authentication-form-container{
    display: none;
}

.option-choice-container{
    display: none;
}

.registration-form-container.active{
    display: block;
}

.authentication-form-container.active{
    display: block;
}

.option-choice-container.active{
    display: block;
}

.form-block{
    margin-top: 24px;
    font-size: 18px;

    input[type="password"] {
        margin-top: 8px;

        border: solid 1px rgb(217, 217, 217);
        border-radius: 8px;

        padding: 12px 16px;
        font-size: 18px;
    }

    input[type="email"] {
        margin-top: 8px;

        border: solid 1px rgb(217, 217, 217);
        border-radius: 8px;

        padding: 12px 16px;
        font-size: 18px;
    }
}

.first{
    margin-top: 0;  
}

.button-group{
    margin-top: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button{
        font-size: 18px;
        width: fit-content;
        min-width: 168px;
        width: 100%;
        height: 48px;

        border-radius: 8px;
        border: none;
        transition: transform 0.05s ease, box-shadow 0.1s ease;
    }

    button:hover{
        border: solid 2px rgb(117, 117, 117);
        cursor: pointer;
    }

    button:active{
        transform: scale(0.95);
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }

    button[type="submit"]{
        background-color: rgb(44, 44, 44);
        color: white;
    }
}

.button-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    button{
        font-size: 18px;
        width: fit-content;
        min-width: 168px;
        width: 100%;
        height: 48px;

        border-radius: 8px;
        border: none;
        transition: transform 0.05s ease, box-shadow 0.1s ease;
    }

    button:hover{
        border: solid 2px rgb(117, 117, 117);
        cursor: pointer;
    }

    button:active{
        transform: scale(0.95);
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }

    #option-authentication{
        background-color: white ;
        color: black;
    }

    #option-registration{
        margin-top: 24px;

        background-color: rgb(44, 44, 44);
        color: white;
    }
}