.subjectItem{
  height: 200px;
  width: 250px;
  background-color: rgb(65, 65, 65);
  border-radius: 10px;
  margin: 15px 15px 0 15px;
  font-size: 18px;
  border: 3px solid rgb(128, 128, 128);
  color: white;
  text-align: center;
  font-family: Verdana;
  transition: box-shadow 0.1s ease;
  padding: 0;
  position: relative;

  cursor: pointer;

  .miniature{
    width: 100%;
    height: 65%;
    background-color: rgb(38, 38, 38);
    border-radius: 8px 8px 0 0;
    border-bottom: 3px solid rgb(128, 128, 128);
  }

  .subject-info{
    height: 35%;
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items:start;
    justify-content: space-around;

    margin-left: 10px;

    p{
      margin: 0;
      padding: 0;
    }
  }

    .more-vert-button{
        position: absolute;
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: transform 0.1s ease, box-shadow 0.1s ease;
        display: none;

        top: 2%;
        right: 2%;

        img{
            width: 75%;
            height: 75%;
            position: absolute;
        }
    }

    .more-vert-button:hover{
        background-color: rgb(225, 200, 92);
    }

    .more-vert-button:active{
        transform: scale(0.95);
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }

    .more-vert-button.active{
        background-color: rgb(225, 200, 92);
        transform: scale(0.95);
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        display: flex;
    }


    .subject-menu{
        font-size: 18px;

        position: absolute;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        padding: 8px;

        background-color: white;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
        outline: solid 1px rgb(217, 217, 217);

        button{
            width: 100%;

            padding: 8px;
            border-radius: 8px;
            border: none;
            transition: transform 0.05s ease, box-shadow 0.1s ease;

            background-color: rgb(44, 44, 44);
            color: white;
        }

        button:hover{
            border: solid 2px rgb(117, 117, 117);
            cursor: pointer;
        }

        button:active{
            transform: scale(0.95);
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        }
    }

    .subject-menu.subject-context-menu{
        width: 40%;
        height: 40%;

        top: 20%;
        right: 2%;

        display: none;
    }

    .subject-menu.subject-context-menu.active{
        display: flex;
    }
}

.subjectItem:hover{
  box-shadow: 0 5px 5px 5px rgba(0, 0, 0, 0.1);

  .more-vert-button{
      display: flex;
  }
}