.task{
    font-family: sans-serif;
    
    width: 250px;
    height: 250px;

    background-color: rgb(255, 235, 122);
    box-shadow: 5px 10px 20px 0 rgba(0, 0, 0, 0.5);
    padding: 0 12px;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    p{
        margin: 0;
    }

    .more-vert-button{
        position: absolute;
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        transition: transform 0.1s ease, box-shadow 0.1s ease;
        display: none;

        top: 2%;
        right: 2%;

        img{
            width: 75%;
            height: 75%;
            position: absolute;
        }
    }
    
    .task-context-menu{
        font-size: 18px;

        position: absolute;
        width: 40%;
        height: 30%;
        display: none;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border-radius: 8px;
        padding: 8px;

        background-color: white;
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
        outline: solid 1px rgb(217, 217, 217);

        top: 15%;
        right: 2%;

        button{
            width: 100%;

            padding: 8px;
            border-radius: 8px;
            border: none;
            transition: transform 0.05s ease, box-shadow 0.1s ease;

            background-color: rgb(44, 44, 44);
            color: white;
        }

        button:hover{
            border: solid 2px rgb(117, 117, 117);
            cursor: pointer;
        }

        button:active{
            transform: scale(0.95);
            box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        }
    }

    .task-context-menu.active{
        display: flex;
    }

    .more-vert-button:hover{
        background-color: rgb(225, 200, 92);
    }

    .more-vert-button:active{
        transform: scale(0.95);
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    }

    .more-vert-button.active{
        background-color: rgb(225, 200, 92);
        transform: scale(0.95);
        box-shadow: 0 2px 4px rgba(0,0,0,0.2);
        display: flex;
    }

    .task-block{
        width: 100%;
        margin-top: 8px;
    }

    .title{
        display: flex;
        align-items: center;
        justify-content: center;

        font-size: 18px;
    }

    .description{
        height: 45%;
    }

    .create-time{
        font-size: 14px;
    }

    .assigned-person{
        font-size: 14px;
    }

    .dead-line{
        font-size: 14px;
    }
}

.task:hover{
    outline: solid 2px rgb(47, 168, 255);

    .more-vert-button{
        display: flex;
    }
}