body {
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.toolbar {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
    background-color: #383838;
    border-bottom: 3px solid #4B4B4B;
}

.toolbarItem {
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 3px solid #4B4B4B;
}

.selectedToolbarItem {
    background-color: #2C2C2C;
}

.unselectedToolbarItem {
    background-color: #383838;
}

.terminal {
    height: 56%;
    aspect-ratio: 1 / 1;
}

.toolbarItemText {
    color: white;
    margin-left: 25px;
    margin-right: 40px;
}

.x {
    height: 32%;
    aspect-ratio: 1 / 1;
}

.homeBtn {
    width: 80px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px solid #4B4B4B;
}

.house {
    height: 62.5%;
    aspect-ratio: 1 / 1;
}

.mainPanel {
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #2C2C2C;;
}

.actionPanel {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 100%;
    background-color: #2C2C2C;
    border-right: 3px solid #4B4B4B;
}

.userBlock {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
    height: 268px;
    border-bottom: 3px solid #4B4B4B;
    background-color: #2C2C2C;
    align-items: center;
    padding-top: 26px;
    padding-bottom: 26px;
}

.userName {
    color: white;
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 0;
}

.userIcon {
    flex: 1;
    aspect-ratio: 1 / 1;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.unselectedActionPanelItem {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 366px;
    margin-top: 35px;
    padding: 5px;
    align-items: center;
}

.selectedActionPanelItem {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 366px;
    margin-top: 35px;
    padding: 5px;
    border-radius: 10px;
    align-items: center;
    background-color: #8181A6;
}

.point {
    background-color: white;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.actionPanelItemText {
    flex: 1;
    color: white;
    font-size: 32px;
    font-weight: 500;
    letter-spacing: 0;
    margin-left: 22px;
}

.arrow {
    width: 24px;
    height: 24px;
}

.contentArea {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.addButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #8181A6;
    color: white;
    border: none;
    font-size: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
}

.addButton:hover {
    background-color: #6b6b8f;
}

.contentItem {
    width: fit-content;
    height: 5%;
    background-color: rgb(75, 75, 75);
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 24px;
    border: 3px solid white;
    color: white;
    display: flex;
    align-items:center;
    justify-content: center;
    text-align: center;
    font-family: Verdana;
}

.modal-overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal {
  background-color: #2C2C2C;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
  border: 2px solid #4B4B4B;
}

.modal-input {
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  background-color: #383838;
  border: 2px solid #4B4B4B;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  box-sizing: border-box;
}

.modal-input::placeholder {
  color: #888;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.modal-btn {
  flex: 1;
  padding: 12px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.create-btn {
  background-color: #8181A6;
  color: white;
}

.create-btn:hover {
  background-color: #6b6b8f;
}

.cancel-btn {
  background-color: #4B4B4B;
  color: white;
}

.cancel-btn:hover {
  background-color: #383838;
}

.teamContent {
    width: 100%;
    height: 100%;
    color: white;
}

.teamColumn {
    flex: 1;
    padding: 20px;
    background-color: #383838;
    border-radius: 10px;
}

.teamColumn h3 {
    margin-top: 0;
    border-bottom: 2px solid #8181A6;
    padding-bottom: 10px;
}

.participantItem, .subjectItem {
    padding: 10px;
    margin: 5px 0;
    background-color: #4B4B4B;
    border-radius: 5px;
}